if SHIELD_ROBA_L

config ZMK_KEYBOARD_NAME
    default "roBa_L"

config ZMK_SPLIT
    default y

# 左（L）をCentral（親機）に変更
config ZMK_SPLIT_ROLE_CENTRAL
    default y

# NFCピンをGPIOとして使用可能に
config NFCT_PINS_AS_GPIOS
    default y

endif

if SHIELD_ROBA_R

config ZMK_KEYBOARD_NAME
    default "roBa_R"

config ZMK_SPLIT
    default y

# 右（R）をPeripheral（子機）に設定
config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

config NFCT_PINS_AS_GPIOS
    default y

endif
